body {
    margin: 0;
    padding: 0;
    background-image: url('blog/image/hydrangea.png');
    background-size: cover;
  }

input {
  margin-left: 10px;
}

button{
  background:none;
  border:0;
  cursor: pointer;
}

form{
  display: inline-block;
}

h1 {
  margin-top: 0;
  padding: 10px;
  font-size: 35px;
  color: #fff;
}

.btn{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  margin-bottom: 10px;
  animation: 'switchColor' 0.3s steps(2, start) infinite alternate;
}

@keyframes switchColor {
  from { background: rgb(230, 82, 210);}
  to   { background: rgb(208, 121, 218);}
}

.container {
  width: 80%;
  margin: auto;
  overflow: auto;
}

header {
  border-bottom: solid 1px #000;
  background-color: #df92e9;
  height: 70px;
}

header .container {
  display: flex;
  justify-content: space-between;
}

body > .container {
  width: 65%;
  padding-top: 60px;
}

header h1 {
  margin: 0;
  height: 100%;
  line-height: 70px;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-menu a {
  padding: 10px;
  margin-left: 10px;
}

.memo-title {
  display: block;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  font-size: 20px;
  color: rgb(90, 44, 116);
  text-decoration: none;
}

.memo-title:hover{
  background-color: #eee;
}

.updated_datetime{
  float: right;
}