{% extends 'blog/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}<title>Hydrangea</title>{% endblock %}
</head>
<body>
<h2>Hydrangea</h2>

{% block non_user %}
    {% include 'blog/non_login.html' %}
{% endblock %}

{% block content %}
    {% if category %}
    <h2>カテゴリー：{{ category.title }} の検索結果</h2>
    {% endif %}
    {% include 'blog/memo_list.html' %}
{% endblock %}
</body>
</html>