{% extends 'blog/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新規メモ制作</title>
</head>
<body>
    <div>
        <a href="{% url 'blog:index' %}">Back to the home page</a>
    </div>

    <form action="{% url 'blog:new_memo' %}" method="POST">{% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn">保存</button>
    </form>
{% endblock %}
</body>
</html>